.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}
.status-bar__column {
  display: flex;
  align-items: center;
}
.status-bar__column > span {
  font-size: 22px;
  color: white;
  font-weight: 400;
}

.status-bar__avatar {
  height: 50px;
  width: 50px;
}
.fa-solid {
  color: white;
}
.fa-gear:hover {
  animation: rotate 2s linear infinite;
  cursor: grab;
}
@keyframes rotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
