@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap");

/* Component */
@import "component/status-bar.css";

/* Screens */
@import "screens/main.css";
@import "screens/ads.css";
@import "screens/trending-music.css";
@import "screens/pl.css";
@import "screens/play-display.css";

html {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 90%;
  width: 80%;
  position: relative;
  font-family: "Oswald", sans-serif;
}

#splash-screen {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  will-change: opacity;
  animation: hidesplashscreen 0.6s ease-in-out forwards;
  animation-delay: 0.3s;
  font-family: "Oswald", sans-serif;
}
@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#only-mobile {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 135vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.96);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
@media screen and (max-width: 600px) {
  #only-mobile {
    display: none;
  }
}
.fa-triangle-exclamation {
  color: tomato;
  margin-right: 5px;
}
.warring {
  font-size: 60px;
}
#only-mobile__subtitle {
  margin-top: 50px;
  margin-left: 17px;
  font-size: 30px;
  font-weight: 400;
}
