.footer-main {
  position: relative;
  top: 50px;
  margin-left: 25px;
}

footer > h1 {
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 25px;
}
@keyframes hover {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.playlist-list:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  animation: hover 0.5s ease-in-out forwards;
  padding-right: 10px;
}
.playlist-list {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.playlist-column {
  display: flex;
  align-items: center;
}
.playlist-column__avatar {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  margin-right: 10px;
}
.playlist-column__text h5 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
}
.playlist-column__text h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
